<form action="/createMemo" method="post" name=create required>
  <fieldset>
    <input type="text" placeholder=" enter chore here..." name="memo" id="memo" required><br>
    <form>
      <div id="radioButtonsDiv">
        <input type="radio" name="choreType" value="groceries" class="radio" required>groceries
        <br>
        <input type="radio" name="choreType" value="hardware" class="radio" required>hardware
        <br>
        <input type="radio" name="choreType" value="pharmacy" class="radio" required>pharmacy
        <br>
      </div>
   </form>
    <button id="add" type="submit">+ Add +</button>
  </fieldset>
</form>