<form action="/createMemo" method="post" name=create required>
  <fieldset>
    <input type="text" autofocus="autofocus" placeholder=" enter chore here..." name="memo" id="memo" required><br>
    <form>
      <div id="radioButtonsDiv">
        <input type="radio" name="choreType" value="groceries" class="radio" required>Groceries
        <br>
        <input type="radio" name="choreType" value="hardware" class="radio" required>Hardware
        <br>
        <input type="radio" name="choreType" value="drugstore" class="radio" required>Drugstore
        <br>
        <input style="display: none;" type="input" name="idInput" id="idInput">
        <br>

      </div>
   </form>
    <button id="add" type="submit">+ Add +</button>
  </fieldset>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(localStorage.choreBearUser) {
     const userObjParsed = JSON.parse(localStorage.choreBearUser);
     var id = userObjParsed.id;
   }
   userObjParsed = JSON.parse(localStorage.choreBearUser);
   $('#idInput').val(userObjParsed.id);
  </script>
</form>