        <div class="dropdown">
            <h1 class="dropbtn">Chore Types</h1>
            <div class="dropdown-content">
              <a href="/groceries">groceries</a>
              <a href="/pharmacy">pharmacy</a>
              <a href="/hardware">hardware</a>
            </div>
          </div>            
        
        
