        <div class="dropdown">
            <button class="dropbtn">Chore Types</button>
            <div class="dropdown-content">
              <a href="/groceries">groceries</a>
              <a href="/pharmacy">pharmacy</a>
              <a href="/hardware">hardware</a>
              <a href="/">home</a>
            </div>
          </div>            
        
        
