        <form action="/dropDownPage" method="POST">
          <div class="dropdown">
              <button class="dropdownButton">Chore Stores</button>
              <input type="text" name="idInput" id="idInput" style="display: none;">
          </div>            
        </form>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            if(localStorage.choreBearUser) {
              var userObjParsed = JSON.parse(localStorage.choreBearUser);
              var id = userObjParsed.id;
            }
            $('#idInput').val(id)
        </script>
        
