        <div class="dropdown">
            <button class="dropdownButton">Chore Stores</button>
            <div class="dropdown-content">
              <a href="/groceries">Groceries</a>
              <a href="/drugstore">Drugstore</a>
              <a href="/hardware">Hardware</a>
              <a href="/getMemos">Home</a>
              <a href="/logout">Logout</a>
            </div>
          </div>            
        
        
