        <div class="dropdown">
            <button class="dropbtn">Chore Stores</button>
            <div class="dropdown-content">
              <a href="/groceries">groceries</a>
              <a href="/drugstore">drugstore</a>
              <a href="/hardware">hardware</a>
              <a href="/getMemos">home</a>
              <a href="/logout">logout</a>
            </div>
          </div>            
        
        
