<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<footer>
  <h3>
    &copy;Chore Bear Co. 2020 
  </h3>
  <h3>
    A Better way for Bears to Chore!
  </h3>
  <section id="footerIcons">
    <a href="https://github.com/Rubiksron/memo"><img id="imgGithub"></a>
    <a href="https://www.instagram.com/dunphyron/"><img id="imgInsta"></a>
    <a href="https://www.linkedin.com/in/rondunphy/"><img id="imgLinkeIn"></a>
    <a href="mailto:ronhdunphy@gmail.com?Subject=ChoreBear%20Question"><img id="imgEmail"></a>
  </section>
</footer>