<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/header') %>
</head>
<body>
  <%- include('./pages/addMemo') %>
  <h1 id="memos">🐻 Memos 🐻</h1>
  <%- include('./partials/memos') %>
  <%- include('./partials/footer') %>
</body>
</html>