<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>
  <%- include('./pages/addMemo')%>
  <h1>Memos:</h1>
  <ul>
    <% memos.forEach((memo) => { %>
      <form action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
        <li><%= memo.memo%> - <button type="submit" class="delete">delete</button></li>
      </form>
   <% }) %>
  </ul>
</body>
</html>