footer {
  background-color: darkblue;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: lightskyblue;
  border-radius: .25rem;
  box-shadow: 1px 1px 3px black;
  padding: .25rem;
}
h3 {
  text-align: center;
  width: 80%;
  margin: .25rem auto;
}