footer {
  background-image: url("./images/stars.jpg");
  border: lightblue solid .10rem;
  text-align: center;
  color: lightskyblue;
  border-radius: .25rem;
  box-shadow: 3px 3px 10px lightblue;
  margin-bottom: 1rem;
  padding: 1rem;
}
h3 {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}