body {
  background-image: url("./images/stars.jpg");
  font-size: 1rem;
  overflow: scroll;
  font-family: fantasy;
}

h1 {
  text-align: center;
}
#memos {
  box-shadow: 5px 5px 30px lightgreen;
  width: 70%;
  margin: auto;
  color: white;
  border-radius: .25rem;
  padding: .25rem;
}
form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
fieldset {
  background-image: linear-gradient(to right,black, darkgreen, green , darkgreen, black);
  background-position: center;
  border-radius: .25rem;
  border-color: lightgreen;
  width: 80%;
  margin: auto;
  padding: 1.25rem;
  box-shadow: 3px 3px 10px lightgreen;
}
ul {
  overflow: scroll;
  height: 40rem;
}
li {
  background-image: linear-gradient(to right,white, rgb(214, 247, 247));
  list-style-type: none;
  margin: auto;
  text-align: center;
  font-family: fantasy;
  border-radius: .25rem;
  margin-right: 2rem;
  padding: .5rem;
  font-size: 1.25rem;
  box-shadow: 4px 4px 10px lightgreen;
  overflow: scroll;
  border: solid lightgreen;
  color: darkblue;
}
button {
  border-radius: .25rem;
  border-color: black;
  font-size: 1rem;
}
button.delete {
  border-radius: .25rem;
  border-color: red;
  color: red;
  background-color:white;
  float: right;
  font-size: 1rem;
  box-shadow: 1px 1px 2px darkred;
  font-family: fantasy;
}
#add {
  border-radius: .25rem;
  border-color: lightgreen;
  color: white;
  background-image: linear-gradient(to right, lightgreen, green, black, green, lightgreen);
  box-shadow: 3px 3px 10px darkgreen;
  background-color: lightgreen;
  font-size: 1.25rem;
  margin-top: .5rem;
  width: 45%;
  font-family: fantasy;
}
input {
  border-radius: .25rem;
  line-height: 7vw;
  font-size: 1.5rem;
  padding: .25em;
  font-family: fantasy;
}