/* love */
html {
  font-family: 'Sen', sans-serif;
}
body {
  background-color: lightblue;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  overflow: scroll;
  margin-top: 5rem;
}
h3 {
  color: white;
}
hr {
  margin-top: 0;
  margin-bottom: -1.25rem;
}
form {
  margin-bottom: 2rem;
  padding: .5rem;
  border-radius: .25rem;
}
span {
  font-size: 5rem;
}
h1 {
  font-family: 'Pacifico', cursive;
}
a {
  font-size: 2rem;
}
fieldset {
  background-color: lightblue;
  background-image: url("./images/bears-main-right.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: .25rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  padding: 1.25rem;
}                           
li {
  background-color: white;
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  overflow: scroll;
  color: darkblue;
}
button {
  border-radius: .25rem;
  font-family: 'Sen', sans-serif;
}
input {
  border-radius: .25rem;
  font-size: 1.5rem;
  padding: .25em;
  font-family: italic;
  border: ridge lightgreen;
}


