body {
  background-image: url("./images/stars.jpg");
  font-size: 1rem;
  overflow: scroll;
  /* background-position: center; */
}

h1 {
  text-align: center;
}
#memos {
  box-shadow: 3px 3px 10px lightgreen;
  width: 50%;
  margin: auto;
  color: white;
  border-radius: .25rem;
  border: .25rem solid lightgreen;
}
form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
fieldset {
  background-image: linear-gradient(to right,darkgreen, green , darkgreen);
  /* background-image: url("./images/pattern.jpg"); */
  background-position: center;
  border-radius: .25rem;
  border-color: lightgreen;
  background-color: red;
  width: 50%;
  margin: auto;
  box-shadow: 3px 3px 10px lightgreen;
}
li {
  background-color: white;
  list-style-type: none;
  margin: auto;
  text-align: center;
  border-radius: .25rem;
  margin-right: 1.5rem;
  padding: .5rem;
  font-size: 1.5rem;
  box-shadow: 4px 4px 10px lightgreen;
  overflow: scroll;
  border: solid lightgreen;
}
button {
  border-radius: .25rem;
  border-color: black;
  font-size: 1rem;
}
button.delete {
  border-radius: .25rem;
  border-color: red;
  color: red;
  background-color:white;
  float: right;
  font-size: 1rem;
  box-shadow: 1px 1px 2px darkred;
}
#add {
  border-radius: .25rem;
  border-color: black;
  color: white;
  background-image: linear-gradient(to right, lightgreen, green, lightgreen);

  /* background-color: lightgreen; */
  font-size: 1.25rem;
  margin-top: .5rem;
  width: 45%;
}
input {
  border-radius: .25rem;
  line-height: 7vw;
  font-size: 1.5rem;
  padding: .25em;
}