html {
  font-family: 'Sen', sans-serif;
}
#ulMemos {
  font-family: 'Sen', sans-serif;
  width: 90%;
  margin: auto;
  overflow: scroll;
  height: 50vh;
  margin-top: 11rem;
  margin-bottom: 1rem;
  background-color: lightblue;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: .25rem;
}
#ulMemosMain {
  overflow: none;
}
li {
  font-family: 'Sen', sans-serif;
}
#radioButtonsDiv {
  font-size: 1.5rem;
  font-family: 'Sen', sans-serif;
  padding: .25rem;
}
#add {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  border-color: lightgreen;
  color: white;
  box-shadow: .1rem .1rem .3rem black;
  background-color: green;
  margin-top: .5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  width: 85%;
}
#choreBear {
  position: fixed;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 100%;
  height: 4rem;
  margin: auto;
  background-color: darkgreen;
  padding-top: 1rem;
  padding-left: .5rem;
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: .1rem .1rem .3rem black;
}
#allChores {
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
#memo {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  font-size: 1.5rem;
  padding: .25em;
  width: 85%;
}
#deleteButton {
  border-radius: .25rem;
  border: ridge red;
  color: white;
  background-color:red;
  float: right;
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
}
#deleteButton:active {
  background-color: #666;
  box-shadow: 0 .25rem #666;
  transform: translateY(.25rem);
}
#groceriesForm {
  background-color: olive;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
#hardwareForm {
  background-color: orange;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
#drugstoreForm {
  background-color: darkred;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.radio {
  border-radius: 50%;
}
.chore {
  background-color: orangered;
}
.dropdownButton {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: .1rem .1rem .3rem black;
}
.dropdown {
  position: fixed;
  display: inline-block;
  top: .75rem;
  right: .75rem;
  z-index: 6;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: .25rem;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .25rem;
}
.dropdown-content a {
  color: black;
  padding: .75rem;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media only screen and (min-width: 800px) {
  body {
    width: 40%;
    margin: auto;
  }
}
