#radioButtonsDiv {
  font-size: 1.75rem;
}
#add {
  border-radius: .25rem;
  border-color: lightgreen;
  color: white;
  box-shadow: 3px 3px 10px darkgreen;
  background-color: green;
  margin-top: .5rem;
  font-family: italic;
  height: 2.5rem;
  font-size: 1.25rem;
  width: 94%;
}
#choreBear {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  color: white;
  width: 95%;
  margin: auto;
  border-radius: .25rem;
  margin-top: 1.5rem;
}
#memo {
  border-radius: .25rem;
  font-size: 1.5rem;
  padding: .25em;
  font-family: italic;
  border: ridge lightgreen;
}
#deleteButton {
  border-radius: .25rem;
  border: ridge red;
  color: white;
  background-color:red;
  float: right;
  box-shadow: 1px 1px 4px darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}
#deleteButton:active {
  background-color: #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#groceries {
  background-color: olive;
}
#hardware {
  background-color: orange;
}
#drugstore {
  background-color: darkred;
}
#allChores {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.moveRight {
  margin-right: 2rem;
}
.radio {
  border-radius: 50%;
}
.chore {
  background-color: orangered;
}

 /* -----w3----- */
 .dropbtn {
  border-radius: .25rem;
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  display: inline-block;
  top: .75rem;
  right: .75rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: .25rem;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .25rem;
}

.dropdown-content a {
  color: black;
  padding: .75rem;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media only screen and (min-width: 700px) {
  body {
    width: 40%;
    margin: auto;
  }
}
