html {
  font-family: 'Sen', sans-serif;
}
#aboutMeParagraph {
  color: white;
  padding: .25rem;
  font-size: 1.1rem;
}
#aboutMeChorebear {
  max-width: 100%;
  margin-top: 1rem;
}
#ulMemos {
  background-color: black;
  font-family: 'Sen', sans-serif;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
#ulMemosMain {
  overflow: none;
}
footer {
  font-family: 'Pacifico', cursive;  
  color: white;
}
#radioButtonsDiv {
  font-size: 1.5rem;
  font-family: 'Sen', sans-serif;
  margin-bottom: -1rem;
  margin-top: 1rem;
}
#add {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  color: white;
  background-color: green;
  margin-top: .5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  width: 100%;
  border-style: none;
}
#choreBear {
  background-image: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: .1rem .1rem .3rem black;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 100%;
  background-color: lightskyblue;
  margin: auto;
  height: 11vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
}
#allChores {
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: -1rem;
}
#aboutMeTitle {
  box-shadow: .3rem .3rem .6rem black;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 100%;
  background-color: goldenrod;
  margin: auto;
  height: 11vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
}
#memo {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  font-size: 1.5rem;
  padding: .25em;
  width: 95%;
}
#deleteButton {
  border-radius: .25rem;
  border: ridge red;
  color: white;
  background-color:red;
  float: right;
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
}
#deleteButton:active {
  background-color: #666;
  box-shadow: 0 .25rem #666;
  transform: translateY(.25rem);
}
#groceries {
  background-color: #4AE7FF;
}
#hardware {
  background-color: #3876E8;
}
#drugstore {
  background-color: #38E8A0;
}
#hiddenInfoDiv {
  padding: .5rem;
  color: white;
  border: solid 1px;
  font-size: 1.05rem;
  margin-top: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
}
#infoQuestionMark {
  padding-left: .5rem;
  padding-right: .5rem;
  border: solid white 1px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
}
.moveRight {
  margin-right: 2rem;
}
.radio {
  border-radius: 50%;
}
.chore {
  background-color: orangered;
}
.dropdownButton {
  font-family: 'Sen', sans-serif;
  border-radius: .25rem;
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: .1rem .1rem .3rem black;
}
.dropdown {
  position: fixed;
  display: inline-block;
  top: .75rem;
  right: .75rem;
  z-index: 6;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: .25rem;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .25rem;
}
.dropdown-content a {
  color: black;
  padding: .75rem;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


@media only screen and (min-width: 800px) {
  body {
    width: 60%;
    margin: auto;
  }
  fieldset {
    margin-top: 8rem;
  }
}