body {
  background-image: url("./images/organic-mandala.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: ridge white;
  text-align: center; 
}
#homeLink {
  color: white;
  font-size: 3rem;
}
h1 {
  color: white;
  font-size: 3rem;
}
