body {
  background-image: url("./images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: lightblue; */
  height: 100vh;
}
div {
  background-image: url("./images/chorebear.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90vw;
  height: 100vw;
  padding: .5rem;
  margin: auto;
  box-shadow: 5px 5px 30px white;
  border: ridge white;
}
h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}
#homeLink {
  color: purple;
  font-size: 5rem;
  text-align: center;
  padding: .5rem;
  width: 30%;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  border:ridge white;
  background-color: blanchedalmond;
  box-shadow: 5px 5px 30px white;
}
