body {
  background-color: black;
  height: 100vh;
}
button {
  width: 100%;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  margin: auto;
  height: 9vh;
  margin-bottom: .5rem;
  border-radius: .25rem;
}
footer {
  font-family: 'Pacifico', cursive;  
  background-image: url("../images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
h3 {
  text-align: center;
  width: 80%;
  margin: .25rem auto;
}
#drugstoreButton {
  border: solid .5rem #38E8A0;
}
#hardwareButton {
  border: solid .5rem #3876E8;
}
#groceriesButton {
  border: solid .5rem #4AE7FF;
}
#homeButton {
  border: solid .5rem silver;
}
#logoutButton {
  border: solid .5rem #3DFF45;
}
#deleteButton {
  background-color: red;
  margin-top: 1rem;
  color: white;
}
#showDeleteButton {
  border: solid .5rem red;
  margin-top: 1rem;
  background-color: white;
}
#aboutMeButton {
  border: solid .5rem goldenrod;
}
@media only screen and (min-width: 800px) {
  body {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
  }
  fieldset {
    margin-top: 8rem;
  }
}
