body {
  background-color: black;
  height: 100vh;
}
button {
  width: 100%;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  margin: auto;
  height: 10vh;
  margin-bottom: 1rem;
}
footer {
  background-image: url("../images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  color: lightskyblue;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}
h3 {
  text-align: center;
  width: 80%;
  margin: .25rem auto;
}
#drugstoreButton {
  border: solid .5rem #38E8A0;
}
#hardwareButton {
  border: solid .5rem #3876E8;
}
#groceriesButton {
  border: solid .5rem #4AE7FF;
}
#homeButton {
  border: solid .5rem silver;
}
#logoutButton {
  border: solid .5rem #3DFF45;
}
#deleteButton {
  background-color: red;
  margin-top: 2rem;
  color: white;
}
#showDeleteButton {
  border: solid .5rem red;
  margin-top: 2rem;
  background-color: red;
  color: white;
}
