html {
  height: 100vh;
}
body {
  padding-top: 2rem;
  background-color: darkred;
  /* background-image: url("../images/drugstore.jpg");  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li {
  background-color: white;
  list-style-type: none;
  margin-right: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  overflow: scroll;
  color: darkblue;
  margin-left: 2.25rem;
}
form {
  margin-top: 3rem; 
}
fieldset {
  border:none;
  width: 100%;
  margin: auto;
  border-radius: .25em;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: fixed;
  left: 0rem;  
  background-color: darkred;
}
#radioButtonsDiv {
  font-size: 0;
}
#drugstoreTitle {
  background-color: darkred;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 50%;
  text-align: center;
  margin: auto;
  border-radius: .25rem;
  position: fixed;
  top: 1.5rem;
  left: .6rem;
}
@media only screen and (min-width: 800px) {
  fieldset {
    width: 36%;
  }
}