html {
  height: 100vh;
}
body {
  padding-top: 2rem;
  background-color: darkred;
  background-image: url("../images/drugstore.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li {
  background-color: white;
  list-style-type: none;
  margin-right: 2rem;
  text-align: center;
  font-family: italic;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  box-shadow: 3px 3px 10px darkred;
  overflow: scroll;
  border: ridge darkred;
  color: darkblue;
}
h1 {
  color:black;
  background-color: white;
  width: 80%;
  margin: auto;
  padding: .5rem;
}
form {
  margin-top: 3rem; 
}
fieldset {
  background-color: darkkhaki;
  width: 70%;
  margin: auto;
  border-radius: .25em;
  text-align: center;
}

#radioButtonsDiv {
  font-size: 0;
  padding: 0;
}
