html {
  height: 100vh;
  padding-top: 3rem;
}
body {
  padding-top: 2rem;
  background-color: olive;
  background-image: url("../images/groceries.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li {
  background-color: white;
  list-style-type: none;
  margin-right: 2rem;
  text-align: center;
  font-family: italic;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  box-shadow: 3px 3px 10px olive;
  overflow: scroll;
  border: ridge olive;
  color: darkblue;
}
h1 {
  color:black;
  background-color: white;
  width: 80%;
  margin: auto;
  padding: .5rem;
}

form {
  margin-top: 1rem; 
}
.dropbtn {
  border-radius: .25rem;
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
fieldset {
  background-color: darkkhaki;
  width: 80%;
  margin: auto;
  border-radius: .25em;
  text-align: center;
}
#deleteButton {
  border-radius: .25rem;
  border: ridge red;
  color: white;
  background-color:red;
  float: right;
  box-shadow: 1px 1px 4px darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}
#memo {
  border-radius: .25rem;
  font-size: 1.5rem;
  padding: .25em;
  font-family: italic;
  border: ridge lightgreen;
}
#radioButtonsDiv {
  font-size: 0;
  padding: 0;
}
