html {
  height: 100vh;
}
body {
  padding-top: 2rem;
  background-color: darkorange;
  /* background-image: url("../images/hardware-vintage.jpg");  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li {
  background-color: white;
  list-style-type: none;
  margin-right: 2rem;
  text-align: center;
  font-family: italic;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  box-shadow: .2rem .2rem .5rem orange;
  overflow: scroll;
  border: ridge orange;
  color: darkblue;
}
form {
  margin-top: 3rem; 
}
fieldset {
  width: 80%;
  margin: auto;
  border-radius: .25em;
  text-align: center;
  margin-bottom: 1rem;
  position: fixed;
  margin-left: 1rem;
  background-color: darkorange;
}
#radioButtonsDiv {
  font-size: 0;
}
#hardwareTitle {
  background-color: darkorange;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 50%;
  text-align: center;
  margin: auto;
  border-radius: .25rem;
  position: fixed;
  top: .75rem;
  left: .6rem;
}