/* comment to test push, and also a second time */
html {
  height: 100vh;
}
body {
  padding-top: 2rem;
  background-color: black;
}
li {
  background-color: white;
  list-style-type: none;
  margin-right: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  overflow: scroll;
  color: darkblue;
  border: solid .5rem #3876E8;
}
form {
  margin-top: 3rem; 
}
fieldset {
  border:none;
  width: 90%;
  margin: auto;
  border-radius: .25em;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #3876E8;
  margin-top: 4rem;
  box-shadow: .3rem .3rem .6rem black;
}
#radioButtonsDiv {
  font-size: 0;
}
#hardwareTitle {
  background-color: #3876E8;
  box-shadow: .3rem .3rem .6rem black;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 100%;
  background-color: #3876E8;
  margin: auto;
  height: 11vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
}
@media only screen and (min-width: 800px) {
  fieldset {
    width: 36%;
  }
}
