html {
  height: 100vh;
}
body {
  background-color: black;
}
#radioButtonsDiv {
  font-size: 0;
}
#hardwareTitle {
  background-color: #4AE7FF;
  box-shadow: .2rem .2rem .5rem black;
  font-family: 'Pacifico', cursive;  
  font-size: 2rem;
  color: white;
  width: 100%;
  margin: auto;
  height: 11vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
}
fieldset {
  background-color: #4AE7FF;
}
@media only screen and (min-width: 800px) {
  fieldset {
    width: 36%;
  }
}
