body {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
}
form {
  border: .20rem solid #f1f1f1;
  border-radius: .25rem;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: .75rem 1.25rem;
  margin: .5rem 0rem;
  display: inline-block;
  border: .1rem solid #ccc;
  box-sizing: border-box;
  border-radius: .25rem;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 1.25rem;
  margin: .5rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: .25rem;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: .5rem 1rem;
  background-color: #f44336;
  border-radius: .25rem;
}

.container {
  padding: 1rem;
}

span.psw {
  float: right;
  padding-top: 1rem;
}
