html {
  margin-top: 3rem;
}
body {
  background-color: darkred;
}
li {
  list-style-type: none;
}
#deleteButton {
  border-radius: .25rem;
  border: ridge red;
  color: white;
  background-color:red;
  float: right;
  box-shadow: 1px 1px 4px darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}
form {
  margin-right: 2rem;
  margin-top: 1rem; 
}
li {
  background-image: linear-gradient(to right,white, rgb(214, 247, 247));
  list-style-type: none;
  text-align: center;
  font-family: italic;
  font-size: 1.5rem;
  border-radius: .25rem;
  padding: .5rem;
  box-shadow: 3px 3px 10px lightgreen;
  overflow: scroll;
  border: ridge lightgreen;
  color: darkblue;
}
.dropbtn {
  border-radius: .25rem;
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}