<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/pages/hardware.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <h1 id="aboutMeTitle">About Me🐻</h1>
    <%- include('../partials/dropdown') %>  
    <img id="aboutMeChorebear" src="../../css/images/chorebear.png" alt="chorebear">
    <h4 id="aboutMeParagraph">
      This is a bear from a forrest deep, whose fur is woven thick with earthen fabric.  
      Brows of moss arched curiously on the fuzzy tilted head of the Grizzly reveals an inner wonder.</br>
      The bear peered up into a nearby tree, caluculated,  then started to climb.
      With paws of tree stumps and jagged granite claws it pierced the bee hive's armor and lapped the golden honey until content. He stopped and sat still.</br>
      It was during this moment that Quincy H. Bear realized that he needed a better way to chore.  Quincy moved to the city, learned to code, and quickly starting developing the app known today as Chore Bear.</h4>
      <%- include('../partials/footer') %>  
  </body>
</html>