<form action="/createMemo" method="post" name=create required>
  <fieldset>
    <span>Add Memo:</span>
    <input type="text" placeholder="enter memo" name="memo" id="memo" required>
    <button type="submit">Add</button>
  </fieldset>
</form>