<form action="/createMemo" method="post" name=create required>
  <fieldset>
    <input type="text" placeholder="memo here..." name="memo" id="memo" required>
    <button id="add" type="submit">Add</button>
  </fieldset>
</form>