<!DOCTYPE html>
<html lang="en" style="display: none;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chore Bear</title>
</head>
<body>
  <form action="/getMemos/<%= userId %>" method="get">
    <button id="beforeGetMemosButton"></button>
    <input  type="input" name="idInput" id="idInput">
  </form>  
  <h1><%= userId %></h1>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    var id = <%= userId %>;
      if(localStorage.choreBearUser) {
        var userObjParsed = JSON.parse(localStorage.choreBearUser);
        userObjParsed.id = id;

        var userObjStringified = JSON.stringify(userObjParsed);
        localStorage.setItem('choreBearUser', userObjStringified);
        document.getElementById('beforeGetMemosButton').click();
      }
      var userObjParsed = JSON.parse(localStorage.choreBearUser);
      $('#idInput').val(userObjParsed.id);
  </script>
</body>
</html>