<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/pages/hardware.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <title>hardware</title>
</head>
<body>
  <h1 id="hardwareTitle">Hardware</h1>

  <%- include('../partials/dropdown') %>

  <form action="/createMemo" method="post" name=create required>
    <fieldset>
      <input type="text" placeholder=" enter chore here..." name="memo" id="memo" required><br>
      <form>
      </form>
      <button id="add" type="submit">+ Add +</button>
        <div id="radioButtonsDiv">
          <input style="display: none;" type="radio" name="choreType" value="hardware" class="radio" checked='true' required>
          <br>
        </div>
    </fieldset>
  </form>

  <ul id="ulMemos">
    <% memos.forEach((memo) => { %>
      <form action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
       <% if(memo.chore_type === 'hardware') { %>
          <li>hardware: <%= memo.memo%><button type="submit" id="deleteButton">X</button></li>
       <% } %>
      </form>
   <% }) %>
  </ul>
  
</body>
</html>