<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./addMemo')%>
  <h1>Memos:</h1>
  <ul>
    <% memos.forEach((memo) => { %>
      <form action="/delete" method="post">
        <li><%= memo.id %> - <%= memo.memo %> <button type="submit">delete</button></li>
      </form>
   <% }) %>
  </ul>
  <form action="/delete" method="delete">
    <button type="submit">delete</button>
  </form>
</body>
</html>